



/* .form-control input{
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border:2px solid #d8d1d1;
} */

.form-control1.success input{
    border:2px solid rgb(26, 167, 26);
}
.form-control1.error input{
    border:2px solid rgb(228, 29, 22);
}
.form-control1 Error{

    position:absolute;
    margin: 3px;
    visibility: hidden;
}